{% extends "book/base.html" %}
{% block content %}
<h1>About page</h1>
<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div>
                <p1>Ćao!</p1>
                <br>
                <p2> Ako voliš da čitaš i vodiš evidenciju o svojim knjigama ovo je pravo mesto za tebe. Ukoliko se
                    registruješ i nakon toga
                    prijaviš imaš mogućnost da dodaš knjige koje si pročitao, koje trenutno čitaš ili knjige koje
                    planiraš da čitaš.
                </p2>

            </div>
            <br>
            <br>
            <p>Ostati ravnodušan prema knjizi, znači lakomisleno osiromašiti svoj život.</p>
            <footer class="blockquote-footer">Ivo Andrić. <cite title="Source Title"></cite></footer>
        </blockquote>
    </div>
</div>
{% endblock %}